{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
<title>gradebook: home</title>
{% endblock title %}
{% block body %}
<body>
    <h4>{{course.name}}, {{course.start_time}} - {{course.end_time}}</h4>
    <button>
        <a href="{% url 'addAssignment' course.code %}">Add assignment</a>
    </button>
    <div class="course-row">
        <div class="course-box">
            Student
        </div>
        <div class="course-box">
            Overall Grade
        </div>
        {% for assignment in assignments %}
            <div class="course-box">
                <br>
                {{assignment.name}}<br>
                Value: {{assignment.max_score}}
                <button>
                    <a href="{% url 'editAssignment' course.code assignment.id %}">Edit</a>
                </button>
            </div>
        {% endfor %}
    </div>
    {% for student in students %}
        <div class="course-row">
            <div class="course-box">
                {{student.last_name}}, {{student.first_name}}
            </div>
            <div class="course-box">
                {% for g in courseGrades %}
                    {% if g.student == student %}
                        {{g.grade_percent}}%
                    {% endif %}
                {% endfor %}
            </div>
            {% for assignment in assignments %}
            <div class="course-box">
               
                {% for grade in grades %}
                    {% if grade.student == student and grade.assignment == assignment%}
                        {{grade.grade}} / {{assignment.max_score}}
                    {% endif %}
                {% endfor %}
                <a href="{% url 'addGrade' assignment.id student.code %}">Edit Grade</a>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</body>
{% endblock %}