{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
{% if edit %}
<title>gradebook: edit grade</title>
{% else %}
<title>gradebook:  add grade</title>
{% endif %}
{% endblock title %}
{% block body %}
<body>
    <div>
        {% if edit %}
            <h4>Edit grade</h4>
        {% else %}
            <h4>Add Grade</h4>
        {% endif %}
        <h4>{{assignment.name}} {{assignment.due_date}} </h4>
        <hr>
        <form action="" method="post">
            <div class="form">
                    Possible points: {{assignment.max_score}}
                    {{ form }}
                <div >
                <input id="submit" type="submit" class="button"/>
                <button class="button"><a class="button" href="{% url 'courses' 'school' %}">back</a></button>
                </div>
            </div>
        </form>
        {% if edit %}
            <hr>
            <h4>Remove Course From School</h4>
            
        {% endif %}
    </div>
</body>
{% endblock %}