
{% load static %}

{% block title %}
<title>gradebook: settings</title>
{% endblock title %}
{% block body %}
<body>
    <h4>Are you sure you want to delete this school?</h4>
    <hr>
    <h4>What will be permenently deleted:</h4>
    <h5>{{students}} Students</h5>
    <h5>{{courses_count}} Courses </h5>
    <h5>All related information (grades, attendnce, assignments, etc) will also be deleted.</h5>
    <hr>
    <h4>Who will removed from school access:</h4>
    <h5>{{teachers}} Teachers</h5>
    <h5>{{parents}} Parents</h5>
    <hr>
    <h5>To confirm deletion, type 'delete' and hit submit</h5>
    <form id="deleteSchool_form" action="{% url 'deleteSchool' %}" method="post" >
        <input required class="input" name="delete" form="deleteSchool_form">
        <input type="submit" title="Yes, delete School">
        <button type="button"><a href="{% url 'index'%}">No, Take me back</a></button>
    </form>
</body>
{% endblock %}