
{% load static %}

{% block title %}
<title>gradebook: settings</title>
{% endblock title %}
{% block body %}
<body>
    <h4>Are you sure you want to leave the school?</h4>
    <h5>You will lose access to all courses gradebooks and students related to this school.</h5>
    <h5>To regain access, you will need your school's admin to relink your account.</h5>
    <hr>
    <form action="{% url 'leaveSchool' %}" method="post" >
        <input type="submit" title="Yes, leave School">
    </form>
    <button type="button"><a href="{% url 'index'%}">No, Take me back</a></button>
</body>
{% endblock %}