{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
<title>gradebook: Student Directory</title>
{% endblock title %}
{% block body %}
<body>
    <div id="course_view">
        {% if user.is_teacher and all == False %}
        <h4>My Course Directory</h4>
        <a class="button" href="{% url 'courses' 'school' %}">
            <h4>School Course Directory</h4>
        </a>
        {% elif user.is_admin and all %}
            <h4>School Course Directory</h4>
            <a class="button" href="{% url 'courses' 'teacher' %}">
                <h4>My Course Directory</h4>
            </a>
        <button type="button">
            <a href="{% url 'addCourse' %}">Add Course</a>
        </button>
        {% endif %}
        <hr>
        <div class="course-view" style="border:none;">
            <div class="course-row">
                {% if all == True %}
                <a href="{% url 'courses' 'school' 'teacher' %}"> <div class="course-box">Teacher</div> </a>
                <a href="{% url 'courses' 'school' 'name' %}"><div class="course-box">Name</div></a>
                <a href="{% url 'courses' 'school' 'subject' %}"><div class="course-box">Subject</div></a>
                <a href="{% url 'courses' 'school' 'level' %}"><div class="course-box">Level</div></a>
                <a href="{% url 'courses' 'school' 'location' %}"><div class="course-box">Location</div></a>
                <a href="{% url 'courses' 'school' 'start_time' %}"><div class="course-box">Start Time</div></a>
                <a href="{% url 'courses' 'school' 'end_time' %}"><div class="course-box">End Time</div></a>
                <div class="course-box">Links</div>
                {% else %}
                <a href="{% url 'courses' 'teacher' 'teacher' %}"> <div class="course-box">Teacher</div> </a>
                <a href="{% url 'courses' 'teacher' 'name' %}"><div class="course-box">Name</div></a>
                <a href="{% url 'courses' 'teacher' 'subject' %}"><div class="course-box">Subject</div></a>
                <a href="{% url 'courses' 'teacher' 'level' %}"><div class="course-box">Level</div></a>
                <a href="{% url 'courses' 'teacher' 'location' %}"><div class="course-box">Location</div></a>
                <a href="{% url 'courses' 'teacher' 'start_time' %}"><div class="course-box">Start Time</div></a>
                <a href="{% url 'courses' 'teacher' 'end_time' %}"><div class="course-box">End Time</div></a>
                <div class="course-box">Links</div>
                {% endif %}
            </div>
            <hr>
            {% if course_count > 0 %}
            {% for course in courses_list %}
                <div class="course-row">
                    {% if course.teacher %}
                        <div class="course-box">{{course.teacher}}</div>
                    {% else %}
                        <div class="course-box"></div>
                    {% endif %}
                    <div class="course-box">{{course.name}}</div>
                    <div class="course-box">{{course.subject}}</div>
                    <div class="course-box">{{course.level}}</div>
                    <div class="course-box">{{course.location}}</div>
                    <div class="course-box">{{course.start_time}}</div>
                    <div class="course-box">{{course.end_time}}</div>
                    <div class="course-box">
                            <a class="button" href="{% url 'course' course.code %}">More info</a>
                            <hr>
                            {% if course.teacher.id == user.id or user.is_admin %}
                            <a class="button" href="{% url 'gradebook' course.code %}">Gradebook</a>
                            {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {% if all %}
        <h4>There are currently no courses associated with this school.</a></h4>
        {% else %}
        <h4>You have no courses at this time. Add courses in <a href="{% url 'settings' %}">settings</a> or ask contact your school admin.</h4>
        {% endif %}
    {% endif %}
    </div>
</body>
{% endblock %}