{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
<title>gradebook: drop</title>
{% endblock title %}
{% block body %}
<body>
    <div>
        {% if drop_course %}
            <h4>drop Students </h4>
            <h4>Course: {{course_list.name}} {{course_list.subject}} </h4>
            <h5>Code: {{course_list.code}}</h5>
            <hr>
            <form action="{%url 'dropCourse' course_list.code %}" method="post">
                <div class="course-row">
                    <div class="course-block">
                        <h4>Select Students:<input id="submit" type="submit" class="button"/></h4>
                        
                        <hr>
                        {% for student in student_list %}
                        <input name="{{student.code}}" type="checkbox" value="{{student.code}}">
                        <label for="{{student.code}}">{{student.last_name}}, {{student.first_name}} </label>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </form>
        {% else %}
            <h4>drop Courses</h4>
            <h4>Student: {{student_list.last_name}}, {{student_list.first_name}} </h4>
            <h5>Code: {{student_list.code}}</h5>
            <hr>
            <form action="{%url 'dropStudent' student_list.code %}" method="post">
                <div class="course-row">
                    <div class="course-block" style="overflow:auto">
                        <h4>Select Course:<input id="submit" type="submit" class="button"/></h4>
                        <label>Course Code | Name | Subject | Teacher | Start Time | End Time</label>
                        <hr>
                        {% for course in course_list %}
                        <input name="{{course.code}}" type="checkbox" value="{{course.code}}">
                        <label for="{{course.code}}">{{course.code}} | {{course.name}} | {{course.subject}} | {{course.teacher}} | {{course.start_time}} | {{course.end_time}}</label>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</body>
{% endblock %}