{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
<title>gradebook: Enroll</title>
{% endblock title %}
{% block body %}
<body>
    <div>
        {% if edit %}
            <h4>Edit Course </h4>
            <h4>{{course.name}} {{course.subject}} </h4>
            <h5>Code: {{course.code}}</h5>
            <hr>
        {% else %}
            <h4>Student Enroll</h4>
            <h4>{{course.name}} {{course.subject}} </h4>
            <h5>Code: {{course.code}}</h5>
            <hr>
        {% endif %}
        <form action="" method="post">
            <div class="form">
                    {{ form }}
                <div >
                <input id="submit" type="submit" class="button"/>
                <button class="button"><a class="button" href="{% url 'courses' 'school' %}">back</a></button>
                </div>
            </div>
        </form>
        {% if edit %}
            <hr>
            <h4>Remove Course From School</h4>
            <button>
                <a href="{% url 'removeCourse' course.code %}">Remove Course</a>
            </button>
        {% endif %}
    </div>
</body>
{% endblock %}