{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
<title>gradebook: home</title>
{% endblock title %}
{% block body %}
<body>
    <div id="welcome_view" class="view"style="display: none;">
        <div>Welcome {{ user.first_name}} {{ user.last_name}}</div>
    </div>
    <div id="course_view" class="view"style="display: none;">
    </div>
    <div id="add_course" class="view"style="display: none;">
        <form id="addCourse_form" method="POST">
            <h4>New School Submition</h4>
            <small><i>*users (school admins) may only create one school per account</i></small>
            <div>
                <h4>Class Subject: </h4>
                <hr>
                <input required class="input" id="course_subject" placeholder="Shcool Name" form="addCourse_form">
            </div>
            <div>
                <h4>Class Code:</h4>
                <hr>
                <input required class="input" id="course_code" placeholder="Address" form="addCourse_form"></input>
            </div>
            <div>
                <h4>Course level:</h4>
                <hr>
                <input required class="input" id="course_level" placeholder="Phone" form="addCourse_form"></input>
            </div>
            <div>
                <h4>Course Year:</h4>
                <hr>
                <input required class="input" id="course_year" placeholder="Phone" form="addCourse_form"></input>
            </div>
            <div>
                <h4>Course Description:</h4>
                <hr>
                <input required class="input" id="course_description" placeholder="Phone" form="addCourse_form"></input>
            </div>
            <div
                <h4>Course Start Time:</h4>
                <hr>
                <input required class="input" id="course_start" placeholder="Phone" form="addCourse_form"></input>
            </div>
            <div>
                <h4>Course End Time:</h4>
                <hr>
                <input required class="input" id="course_end" placeholder="Phone" form="addCourse_form"></input>
            </div>
            <button class="button" onclick="load_view('course_view')">back</button>
            <input id="submit" type="submit" class="button"/>
        </form>
    </div>
</body>
{% endblock %}