{% extends 'app/layout.html' %}
{% load static %}

{% block title %}
<title>gradebook: settings</title>
{% endblock title %}
{% block body %}
<body>
    <h4>SETTINGS PAGE</h4>
        <hr>
        <h4>School</h4>
        <h4>You are currently associated with {{user.school}}. </h4>
        {% if user == user.school.master %}
        <button type="link">
            <a id="delete_school" href="{% url 'deleteSchool'}">Delete School</a>
        </button>
        {% else %}
        <button type="link">
            <a id="leave_school" href="{% url 'leaveSchool' user.school.name %}">Leave School</a>
        </button>
        {% endif %}
        <hr>
</body>
{% endblock %}